---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Sobre nosotrosx';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>Conoce un poco sobre nosotros</h1>
    <figure class="about-image">
      <img src="/assets/Foto_Cartagena.jpeg" alt="Illustration of a notebook" width="330">
      <figcaption>
        Foto tomada en la expocisión RedColsi Cartagena
      </figcaption>
    </figure>
      <p> Hola! <br>
      Somos Andres Daniel Gomez de la Cruz y Juan Felipe Salazar Castro,  
      estudiantes de octavo (8) semestre, pertenecientes al programa de ingenieria informatica
      en la CORPORACIÓN UNIVERSITARIA AUTÓNOMA DE NARIÑO.</p>
    
      <p>
        Empezamos con una pequeña idea, que en el transcurso del tiempo se fue conviritiendo en un gran
        proyecto, estamos felices de compartirlo con ustedes, a continuacion les mencionaremos algo
        sobre nosotros para que nos conozcan un poco.
      </p>
    
      <h4>Andres Daniel Gomez de la Cruz</h4>
    
      <p>
        <a href="https://github.com/Dann-13">Aqui puedes encontrar mis proyectos</a>. Convallis a cras semper auctor neque. Diam sit amet nisl
        suscipit. Lacus viverra vitae congue eu consequat ac felis donec. Egestas integer eget aliquet
        nibh praesent tristique magna sit amet. Eget magna fermentum iaculis eu non diam. In vitae
        turpis massa sed elementum. Tristique et egestas quis ipsum suspendisse ultrices. Eget lorem
        dolor sed viverra ipsum. Vel turpis nunc eget lorem dolor sed viverra. Posuere ac ut consequat
        semper viverra nam. Laoreet suspendisse interdum consectetur libero id faucibus. Diam phasellus
        vestibulum lorem sed risus ultricies tristique. Rhoncus dolor purus non enim praesent elementum
        facilisis. Ultrices tincidunt arcu non sodales neque. Tempus egestas sed sed risus pretium quam
        vulputate. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Fringilla
        urna porttitor rhoncus dolor purus non. Amet dictum sit amet justo donec enim.
      </p>
    
      <h4>Juan Felipe Salazar Castro</h4>
    
      <p>
        Soy Juan Felipe Salazar Castro, estudiante de AUNAR sede Pasto, en la actualidad tengo 29 años,
        vivo en la ciudad de Pasto que se encuentra ubicado en el departamento de Nariño, en el pais
        de Colombia, esta pasión por la investigación nacio de una pequeña idea que al momento de 
        consultar sobre ella se fue desglosando muchos mas temas sobre esto.	
      </p>
    
      <p>
        Quisiera que todas las personas puedan apasionarse por la investigación, en mi criterio, 
        la investigación se convierte en un granito de arena, que al final termina aportando a la sociedad,
        al final puede terminar salvando una vida o por lo menos ayudando en ese proceso, en este 
        mundo, quisiera colocar un pequeño ejemplo de la metamorfocis de una mariposa, donde 
        empieza siendo una larva que con el tiempo se convierte en una hermosa mariposa, asi mismo 
        comienza el proceso de investigar, comienza en una pequeña idea, pero al final los resultados
        pueden incluso sorprender hasta a nosotros mismos.
      </p>
    
      <p>Por ultimo quiero entregrarles una pequeña frase que siempre me a motivado a seguir
        ¡JAMAS DEJES DE SOÑAR!<br>
        <a href="https://github.com/JuanFeSC">Aqui puedes ver algunos de mis proyectos</a>
      </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
